@keyframes loading {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.bubble {
  opacity: 0;
  transform: scale(0);
  transition: all .3s cubic-bezier(0.25, 0.4, 0.55, 1.4);
  
  &.bubble-ai {
    transform-origin: left bottom;
  }

  &.bubble-user {
    transform-origin: right bottom;
  }

  &.in {
    opacity: 1;
    transform: scale(1);
  }

  &.bubble-writing {

    .dot {
      animation-name: loading;
      animation-duration: .6s;
      animation-delay: .15s;
      animation-iteration-count: infinite;
    }

    .dot:nth-child(2) {
      animation-delay: .3s;
    }

    .dot:last-child {
      animation-delay: .45s;
    }
  }
}